<div class="also-like">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>You Might Also Like...</h2>
            </div>
            <div class="col-lg-4">
                <div class="like-item">
                    <div class="thumb">
                        <a href="event-details.html"><img src="~/web/assets/images/like-01.jpg" alt=""></a>
                        <div class="icons">
                            <ul>
                                <li><a href="event-details.html"><i class="fa fa-arrow-right"></i></a></li>
                                <li><a href="ticket-details.html"><i class="fa fa-ticket"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="down-content">
                        <span>Sept 10 to 14, 2021</span>
                        <a href="event-details.html"><h4>Wonder Land Music and Arts Festival</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="like-item">
                    <div class="thumb">
                        <a href="event-details.html"><img src="~/web/assets/images/like-02.jpg" alt=""></a>
                        <div class="icons">
                            <ul>
                                <li><a href="event-details.html"><i class="fa fa-arrow-right"></i></a></li>
                                <li><a href="ticket-details.html"><i class="fa fa-ticket"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="down-content">
                        <span>Oct 11 to 16, 2021</span>
                        <a href="event-details.html"><h4>Big Water Splashing Festival</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="like-item">
                    <div class="thumb">
                        <a href="event-details.html"><img src="~/web/assets/images/like-03.jpg" alt=""></a>
                        <div class="icons">
                            <ul>
                                <li><a href="event-details.html"><i class="fa fa-arrow-right"></i></a></li>
                                <li><a href="ticket-details.html"><i class="fa fa-ticket"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="down-content">
                        <span>Nov 10 to 18, 2021</span>
                        <a href="event-details.html"><h4>Tiger Dance Hip Hop Festival</h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>