
@using EntityLayer.Concrete
@model List<PlacesDetail2>
<div class="also-like">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Düğünümüze Katılan Sanatçılar</h2>
            </div>
            @foreach (var item in Model)
            {
                <div class="col-lg-4">
                    <div class="like-item">
                        <div class="thumb">
                            <a href="event-details.html"><img src="@item.ImageUrl" alt=""></a>
                            <div class="icons">
                            </div>
                        </div>
                        <div class="down-content">
                            <h4>@item.Title</h4>
                            <br>
                            <span>@item.Description</span>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>