<div class="amazing-venues">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="left-content">
                    <h4>Neden biz?</h4>
                    <p>
                        ORGANİZASYON organize edendir; neyi nereden nasıl sağlayacağını bilen, sorun çözme yeteneğine sahip, ihtiyaçlar için çeşitli şeyleri bir araya getiren ve bunların bir düzen içinde kusursuz bir uyumla çalışmasını sağlayandır.Başarının zor elde edildiği günümüz de, ağır rekabet koşulları ve hızla akan zamanı göz ardı etmeden gerek birey gerekse kurumsal olarak kendini iyi tanıtabilenler biraz daha öne çıkıyor. Zamanın doğru kullanılmadığı, iyi programlanmayan ve doğru uygulanmayan hiçbir işte geriye dönüş olmuyor. Bu sebeplerden dolayı gerek kurumsal gerekse bireysel bakıldığında yapılacak bir etkinlik varsa organizasyon firmasına da ihtiyaç duyulacağı şüphesizdir.</a>.
                    </p>
                    <br>
                    

                </div>
            </div>
            <div class="col-lg-3">
                <div class="right-content">
                    <h5><i class="fa fa-map-marker"></i> Bizi Ziyaret Edin</h5>
                    <span>7.Cadde Bahçelievler<br>Çankaya<br>Ankara</span>
                </div>
            </div>
        </div>
    </div>
</div>