<div class="pre-header">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <a href="index.html" class="logo">ZeWedding<em>Organization</em></a>
                    <ul class="nav">
                        <li><a href="/Default/Index/" class="active">Ana Sayfa</a></li>
                        <li><a href="/About/Index/">Hakkımızda</a></li>
                        <li><a href="/Rezervation/Index/">Rezervasyon</a></li>
                        <li><a href="/Places/Index/">Mekanlar</a></li>
                        <li><a href="/Advert/Index/">Duyurular</a></li>
                        <li><a href="/Contact/Index/">İletişim</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</header>