<div class="pre-header">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
            </div>
        </div>
    </div>
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <a href="index.html" class="logo">Art<em>Xibition</em></a>
                    <ul class="nav">
                        <li><a href="index.html" class="active">Home</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="rent-venue.html">Rent Venue</a></li>
                        <li><a href="shows-events.html">Shows & Events</a></li>
                        <li><a href="tickets.html">Tickets</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</header>