
<div class="rent-venue-tabs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="tabs">
                        <div class="col-lg-12">
                            <div class="heading-tabs">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <ul>
                                        <li><a href='#tabs-1'>DreamLand</a></li>
                                        <li><a href='#tabs-2'>Yonca Event</a></a></li>
                                        <li><a href='#tabs-3'>End Garden</a></a></li>
                                        <li><a href='#tabs-3'>ZWedd Stduio</a></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <section class='tabs-content'>
                                <article id='tabs-1'>
                                    <div class="row">
                                        <div class="col-lg-9">
                                            <div class="right-content">
                                            <h4>DreamLand</h4>
                                            <p>Organizasyon masa / sandalye temini, lcv hizmeti, süsleme, havai fişek, çiçek, işık ve ses ekipmanları, kapalı çadır, balayı, servis ve hizmet elemanı, pasta, nikah şekeri, catering, mekan giydirme, kına gecesi, sanatçı, barkovizyon, davetiye, dj, dekor, fotoğraf ve video, araç kiralama hizmetlerini vermektedir.</p>
                                                <ul class="list">
                                                    <li>DreamLand</li>
                                                    <li>40000₺</li>
                                                    <li>500 Kişilik</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div id="map">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d8407.213789632677!2d32.819750525557964!3d39.93027456179079!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1str!2str!4v1692733054410!5m2!1str!2str" width="100%" height="240px" frameborder="0" style="border:0" allowfullscreen="" loading="lazy"></iframe>
                                                <p>Bahçelievler 7.Cadde Çankaya, Ankara</p>
                                        </div>
                                    </div>
                                </article>                            
                                <article id='tabs-2'>
                                    <div class="row">
                                        <div class="col-lg-9">
                                            <div class="right-content">
                                                <h4>Yonca Event</h4>
                                                <p> Aliquam tempor, purus vitae ullamcorper rhoncus, quam nunc imperdiet sem, sed placerat purus dui in lorem. Donec ornare at risus in varius. In at magna ante. Curabitur at metus sed purus pretium ullamcorper. Cras vitae sapien bibendum urna pulvinar faucibus. Aliquam sed dui in orci tincidunt cursus quis non tellus. Vestibulum a placerat ex, ac cursus dui.</p>
                                                <ul class="list">
                                                <li>Yonca Event</li>
                                                    <li>50000₺</li>
                                                    <li>200 Kişilik</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div id="map">
                                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14678.414668643849!2d-43.19038460753291!3d-22.96913839717705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bd54579a5956b%3A0xa102deeaffcb3e3!2sCopacabana%20Beach!5e1!3m2!1sen!2sth!4v1630941170951!5m2!1sen!2sth" width="100%" height="240px" frameborder="0" style="border:0" allowfullscreen="" loading="lazy"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </article>   
                                <article id='tabs-3'>
                                    <div class="row">
                                        <div class="col-lg-9">
                                            <div class="right-content">
                                                <h4>End Garden</h4>
                                            <p> Organizasyon masa / sandalye temini, lcv hizmeti, süsleme, havai fişek, çiçek, işık ve ses ekipmanları, kapalı çadır, balayı, servis ve hizmet elemanı, pasta, nikah şekeri, catering, mekan giydirme, kına gecesi, sanatçı, barkovizyon, davetiye, dj, dekor, fotoğraf ve video, araç kiralama hizmetlerini vermektedir. </p>
                                                <ul class="list">
                                                <li>End Garden</li>
                                                    <li>50000₺</li>
                                                    <li>250 Kişilik</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div id="map">
                                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3106.724034173435!2d-43.27685374322357!3d-23.003403908758767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bd6cbe74edde3%3A0x14e89f87adc702cc!2sMirante%20Ciclovia%20Sao%20Conrado!5e1!3m2!1sen!2sth!4v1630941324692!5m2!1sen!2sth" width="100%" height="240px" frameborder="0" style="border:0" allowfullscreen="" loading="lazy"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            
                        </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
