<div class="coming-events">
    <div class="left-button">
        <div class="main-white-button">
            <a href="shows-events.html">Discover More</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="event-item">
                    <div class="thumb">
                        <a href="event-details.html"><img src="~/web/assets/images/event-01.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                        <a href="event-details.html"><h4>Radio City Musical Hall</h4></a>
                        <ul>
                            <li><i class="fa fa-clock-o"></i> Tuesday: 15:30-19:30</li>
                            <li><i class="fa fa-map-marker"></i> Copacabana Beach, Rio de Janeiro</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="event-item">
                    <div class="thumb">
                        <a href="event-details.html"><img src="~/web/assets/images/event-02.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                        <a href="event-details.html"><h4>Madison Square Garden</h4></a>
                        <ul>
                            <li><i class="fa fa-clock-o"></i> Wednesday: 08:00-14:00</li>
                            <li><i class="fa fa-map-marker"></i> Copacabana Beach, Rio de Janeiro</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="event-item">
                    <div class="thumb">
                        <a href="event-details.html"><img src="~/web/assets/images/event-03.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                        <a href="event-details.html"><h4>Royce Hall</h4></a>
                        <ul>
                            <li><i class="fa fa-clock-o"></i> Thursday: 09:00-23:00</li>
                            <li><i class="fa fa-map-marker"></i> Copacabana Beach, Rio de Janeiro</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
