@using EntityLayer.Concrete
@model List<Location>
<div class="coming-events">
    <div class="left-button">
        <div class="main-white-button">
            <a href="/Places/Index/">Daha Fazlası</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4">
                <div class="event-item">
                    <div class="thumb">
                        <a href="event-details.html"><img src="@item.ImageUrl" alt=""></a>
                    </div>
                    <div class="down-content">
                        <a href="event-details.html"><h4>@item.Title</h4></a>
                        <ul>
                            <li><i class="fa fa-clock-o"></i> @item.DateTime</li>
                            <li><i class="fa fa-map-marker"></i> @item.Address</li>
                        </ul>
                    </div>
                </div>
            </div>  
            }
        </div>
    </div>
</div>
