
<div class="rent-venue-application">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="heading-text">
                    <h4>Yorum Yap</h4>
                </div>
                <div class="contact-form">
                    <form id="contact" method="post">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <input name="name" type="text" id="name" placeholder="İsim Soyisim*" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <input name="phone-number" type="text" id="phone-number" placeholder="Mail Adresi*" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <input name="company-organization" type="text" id="company-organization" placeholder="Mekan Adı*" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <input name="venue-requested" type="text" id="venue-requested" placeholder="Tarih*" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea name="about-event-hosting" rows="6" id="about-event-hosting" placeholder="Açıklama" required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="main-dark-button">Yorumu Gönder</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>