<div class="page-heading-rent-venue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>İSTEDİĞİNİZ MEKANLA SİZLERLEYİZ </h2>
                <span>HEMEN REZERVASYON YAPIN</span>
            </div>
        </div>
    </div>
</div>