
@using EntityLayer.Concrete
@model List<Gallery>

<div class="show-events-carousel">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">

                <div class="owl-show-events owl-carousel">
                    @foreach (var item in Model)
                    {
                        <div class="item">
                            <a href="event-details.html"><img src="@item.ImageUrl" alt=""></a>
                        </div>}
                    </div>
                </div>
            
        </div>
    </div>
</div> 