@model EntityLayer.Concrete.Location
@{
    ViewData["Title"] = "UpdateLocation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>After Party Mekan Güncelleme Sayfası</h1>

<form method="post">
    <label>Mekan Adı</label>
    <input asp-for="Title" class="form-control" style="background-color:white" />
    <br />
    <label>Mekan Aktif Tarihler</label>
    <input asp-for="DateTime" class="form-control" style="background-color:#b1b3b1" />
    <br />
    <label>Mekan Adresi</label>
    <input asp-for="Address" class="form-control" style="background-color:#b1b3b1" />
    <br />
    <label>Mekan Fotoğrafı</label>
    <input type="file" class="form-control border" asp-for="ImageUrl" />
    <br />
    <button class="btn btn-dark">After Party Güncelle</button>
</form>