<div class="page-heading-shows-events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>MEKANLARIMIZ</h2>
                <span>Sizler için en iyi mekanlarımızı listeledik. </span>
            </div>
        </div>
    </div>
</div>