<div class="page-heading-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Radio City Musical Hall</h2>
                <span>September 24-28, 2021 in Rio de Janeiro</span>
            </div>
        </div>
    </div>
</div>

<div class="about-item">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="left-image">
                    <img src="~/web/assets/images/about-image.jpg" alt="party time">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="right-content">
                    <div class="about-map-image">
                        <img src="~/web/assets/images/about-map-image.jpg" alt="party location">
                    </div>
                    <div class="down-content">
                        <h4>Radio City Musical Hall</h4>
                        <ul>
                            <li>August 24 Friday</li>
                            <li>09:30 AM - 07:00 PM</li>
                        </ul>
                        <span><i class="fa fa-ticket"></i> Tickets Starting From $34.00</span>
                        <div class="main-dark-button">
                            <a href="ticket-details.html">Purchase Tickets</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>