@using EntityLayer.Concrete
@model List<OpenPlace>

<div class="page-heading-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>YENİ AÇILAN MEKANIMIZ</h2>
                <span>Ağustos 29 2023, Çankaya, Ankara</span>
            </div>
        </div>
    </div>
</div>

<div class="about-item">
    <div class="container">
        <div class="row">
        
            @foreach (var item in Model)
            {    
                <div class="col-lg-8">
                <div class="left-image">
                    <img src="@item.ImageUrl" alt="party time">
                </div>
            </div>
                <div class="col-lg-4">
                <div class="right-content">
                    <div class="about-map-image">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d3745.139674013377!2d32.8279210272144!3d39.92750394010187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m5!1s0x14d34f20f1e3c1e1%3A0x371e33cacc518318!2zQmFow6dlbGlldmxlciwgw4dhbmtheWEvQW5rYXJh!3m2!1d39.9293005!2d32.8267844!4m3!3m2!1d39.9292915!2d32.826778499999996!5e0!3m2!1str!2str!4v1692694995581!5m2!1str!2str" width="350" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="down-content">
                        <h4>@item.Title</h4>
                        <ul>
                            <li>@item.Description</li>
                                <li>@item.DateTime 09:00 - 23:00</li>
                        </ul>
                        <div class="main-dark-button">
                        </div>
                    </div>
                </div>
            </div>
            }
            
        </div>
    </div>
</div>